*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
    font-weight: 400;
}

body {
    width: 100%;
    background-image: linear-gradient(to bottom right, #FFF , rgb(23, 146, 240) );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 10rem;
}

.img img {
    height: 35em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 34rem;
    border-radius: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #f8e6b9;
    border-radius: 10px;
    width: 100%;
    padding: 1.3rem 0;
}

.group:nth-child(1){
    min-height: 20rem;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img{
    width: 50%;
    background: #66D3FA;
    border-radius: 100px;
    border: grey solid 1px;
    overflow: hidden;
    box-shadow: 4px 2px 2px grey;
}

.login{
    background: #F2BE22;
    color: #2168A6;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 6px;
    margin-top: 1rem;
}

.remove {
    margin-top: 1rem;
    font-weight: 700;
    color: #2168A6;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line a {
    color: rgba(238, 46, 25, 0.987);
    font-size: 25px;
    font-weight: bolder;
    padding: 1.3rem;
}

.pokeball {
    height: 3rem;
}

.signup {
    color: #2168A6;
    font-weight: bolder;
}

.switch {
    color: #55bcf3;
    font-weight: bolder;  
}

.second {
    color: rgb(253, 166, 3);
    font-weight: bolder;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width:650px ){
    .wrapper {
        width: 90%;
    }

    .img {
        display: none;
    }
}